.mainForsida {
  .mainHead {
    margin-top: $gutter;
    margin-bottom: $gutter;
    font-size: 3em;
  }

  .catTitle {
    display: flex;
    margin-top: $gutter*2;
    margin-bottom: $gutter;
    font-size: 2em;
  }

  .catContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catStructure {
    display: flex;
    padding-bottom: $gutter*2;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(250, 250, 250);
  }

  .vidMain {
    :hover {
      cursor: pointer;
    }
    display: flex;
    width: 48%;
    line-height: 2;
    flex-direction: column;
    flex-wrap: wrap;

    @media (max-width: 500px) {
      width: 100%;
      flex-wrap: nowrap;
    }
  }

  .litidhead {
    font-size: 1.2em;
    font-weight: bold;
  }
}
